<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="static/zhibo8.wrapper.logo.png"
      rel="shortcut icon"
      type="image/png"
    />
    <link rel="apple-touch-icon" href="static/zhibo8.wrapper.logo.png" />
    <title>直播吧过滤器v.03</title>
    <script src="static/vue.min.js"></script>
    <script src="static/axios.min.js"></script>
    <script src="static/vue-select.js"></script>
    <script src="static/vue-cookies.js"></script>
    <link rel="stylesheet" href="static/vue-select.css" />
    <link rel="stylesheet" href="static/bootstrap.min.css" />
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body class="scrollstyle" id="scrollstyle">
    <div id="root" class="container scrollbar">
      <div>
        <v-select
          class="mb-1 mt-2 scrollstyle"
          multiple
          v-model="selected"
          :options="teamList"
          placeholder="输入要显示的球队"
        />
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>TIME</th>
            <th>GAME</th>
            <th>BROADCAST</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="game in games">
            <td>
              <div class="dateClass">{{ game.showTime[0] }}</div>
              <div class="timeClass">{{ game.showTime[1] }}</div>
            </td>
            <td class="align-middle">
              <span class="teamName">{{ game.Team1 }}</span>
              <span></span>
              <!--                <img src="{{game['Team1 Logo']}}">-->
              <span class="VS">VS</span>
              <!--                <img src="{{game['Team2 Logo']}}">-->
              <span></span>
              <span class="teamName">{{ game.Team2 }}</span>
              <span class="leagueName">{{ game.Labels[0] }}</span>
            </td>
            <td class="align-middle">
              <span v-for="cast in game.Broadcast" class="broadcast">
                {{ cast }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="logo">
        <a href="https://www.zhibo8.cc" class="btn btn-warning">
          跳转到直播吧
          <img
            src="static/zhibo8.wrapper.logo.png"
            alt="zhibo8.wrapper"
            width="50"
            height="50"
          />
        </a>
      </div>
    </div>
    <script type="module">
      import config from "./config.js";
      Vue.component("v-select", VueSelect.VueSelect);
      Vue.$cookies.config(-1);
      var cookie = Vue.$cookies.get("userTeams");
      if (!cookie) {
        cookie = "选择球队";
      }
      var vm = new Vue({
        el: "#root",
        data: {
          games: [],
          teamList: [],
          selected: cookie.split(","),
        },
        watch: {
          selected(newVal, oldVal) {
            axios
              .get(config.baseURL + "/?teams=" + newVal)
              .then((response) => (this.games = response.data));
            this.$cookies.set("userTeams", newVal);
          },
        },
        mounted() {
          axios
            .get(config.baseURL + "/?teams=" + this.selected)
            // .get("../static/test.json")
            .then((response) => (this.games = response.data));
          axios
            .get(config.baseURL + "/teamList/")
            .then((response) => (this.teamList = response.data));
        },
      });
    </script>
  </body>
</html>
