<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>直播吧定制过滤 V2</title>
    <script src="static/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css" />
</head>

<body class="scrollstyle" id="scrollstyle">
    <div id="root" class="container scrollbar">
        <div>
            <span class="badge rounded-pill bg-warning text-dark mt-1 me-1" v-for="(team, i) in teams">
                {{ team }}
                <button class="btn-close" style="width: 9px; height: 9px;" @click="handleClick(i)"></button>
            </span>
            <input class="input-form" type="text" placeholder="输入喜欢的球队" id="teams" v-model="team"
                @keyup.enter="handleKeyup" @keyup.188="handleComma">
        </div>

        <table>
            <thead>
                <tr>
                    <th class="firstColumn">TIME</th>
                    <th class="secondColumn">GAME</th>
                    <th class="thirdColumn">BROADCAST</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="game in games">
                    <td>
                        <div class="dateClass">{{ game.showTime[0] }}</div>
                        <div class="timeClass">{{ game.showTime[1] }}</div>
                    </td>
                    <td>
                        <span class="teamName">{{ game.Team1 }}</span>
                        <span></span>
                        <!--                <img src="{{game['Team1 Logo']}}">-->
                        <span class="VS">VS</span>
                        <!--                <img src="{{game['Team2 Logo']}}">-->
                        <span></span>
                        <span class="teamName">{{ game.Team2 }}</span>
                        <span class="leagueName">{{ game.Labels[0] }}</span>
                    </td>
                    <td>
                        <span v-for="cast in game.Broadcast" class="broadcast">
                            {{ cast }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var vm = new Vue({
            el: "#root",
            data: {
                games: [],
                team: '',
                teams: [],
                teamList: [],
                dataAPI: {}
            },
            methods: {
                handleKeyup() {
                    this.teams.push(this.team)
                    this.team = ''
                },
                handleComma() {
                    this.team = this.team.slice(0, -1)
                    this.teams.push(this.team)
                    this.team = ''
                },
                handleClick(i) {
                    this.teams.splice(i, 1)
                }
            },
            watch: {
                teams(newVal, oldVal) {
                    axios
                        .get("http://localhost:8000/?teams=" + newVal)
                        .then(response => (this.games = response.data));
                }
            },
            mounted() {
                axios
                    .get("http://localhost:8000")
                    // .get("../static/test.json")
                    .then(response => (this.games = response.data));
            },
        });
    </script>
</body>

</html>